body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: white;
    margin-left: 0px;
    border: 0px;
    border-width: 0px;
}

div#canciones {
    border: 1px dotted black;
    text-transform: capitalize;
    background-color: #efe;
    padding: 3px;
    margin-left: 40px;
    width: 500px;
    width: 50%;
    margin: 0 auto;
}

div#artista {
    text-transform: uppercase;
    background-color: black;
    font-weight: normal;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin: 20px;
    color: white;
    text-align: center;
}

div#artista p {
    color: white;
}

a {
    color: #090;
    text-decoration: none;
}

a:hover {
    color: #efe;
    background-color: #0a0;
}